.container
  .content
    .page-header
      %h1 Tomodachi List

    = form_tag({action: 'search'}, id: 'search_form', remote: true) do
      = submit_tag '友達を探す', class:'btn-primary'

  = render 'footer'
